a {
    color: #fff;
    text-decoration: none;
}

header {

    nav {
        a  {
            &:not(:last-child){
                margin-right: 10px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}